h1 {
	color: #484848;
	font-family: "Montserrat", "sans-serif";
	font-size: 20px;
}

button {
	color: #038c8c;
	border: none;
	background: none;
	margin-top: 20px;
}
/*
div.table {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}*/
