.h2 {
	color: #484848;
	font-family: "Montserrat", "Helvetica", "sans-serif";
	font-size: 20px;
	font-weight: 600;
	margin-left: 10px;
	margin-bottom: 5px;
}

.clearBtn {
	color: #038c8c;
	border: none;
	background: none;
	font-size: 14px;
}

.reserveBtn {
	color: white;
	border: none;
	background: #ff5a5f;
	border-radius: 3px;
	font-size: 14px;
	width: 150px;
	height: 30px;
}

.lowerBtns {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.calendar {
	display: flex;
	align-self: flex-start;
	flex-direction: row;
}

.container {
	display: flex;
	flex-direction: column;
	width: 590px;
}
