.info {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  font-size: 14px;
  color: #484848;
  width: 155px;
  border: 1px solid rgba(140, 140, 140, 0.2);
  border-radius: 3px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 14px

}

.bedImage {
  color: #484848;
}

.roomNum {
  color: #484848;
  font-size: 16px;
  font-weight: 600;
  padding-top: 13px;
  margin-top: 13px;
  margin-bottom: 5px;
}

.bedInfo {
  color: #484848;
  margin: 0px;
}


.hiddenSlide {
  display: none;
}

.sleepInfo {
  display: flex;
  justify-content: space-between;
  position:relative;

}

.lessThanThree {
  width: 180px;
  visibility: hidden
}

.invisible {
  visibility: hidden
}

.scroll.right {
  right: -15px;
}

.scroll.left{
  left: -15px;
}

.scroll {
  position: absolute;
  top: 69px;
  font-size: 10px;
  width: 30px;
  height: 30px;
  border-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 2px grey;
}

.scroll:hover {
  border: .5px solid #484848;
}

.scroll:active {
  border: .5px solid #484848;
  box-shadow: inset 0px 0px 0px rgba(140, 140, 140, 1);
  outline: none;
}

.slide {
   -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}