.name {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  color: #484848;
  font-weight: 600;
  font-size: 38px;
}

.city {
  font-family: "Montserrat", "Roboto", "Helvetica", "sans-serif";
  color: #484848;
  font-weight: 400;
  font-size: 17px;
  margin-top: 12px;

}

.bedInfo {
  font-family: "Montserrat", "Roboto", "Helvetica", "sans-serif";
  color: #484848;
  font-weight: 400;
  font-size: 16px;
  margin-left: 18px;
  margin-right: 18px;

}

.listingDetail {
  display: flex;
  justify-content: flex-start;
  margin-top: 19px;
  margin-left: -20px;
}